

ul {
  list-style-type: none;
  font-family: sans-serif;
}

li {
  font-size: 13px;
  float: right;
  margin: 8px 15px;
}

#logo {
  height: 121px;
  width: 295px;
  position: relative;
  top: 165px;
  left: 572px;
}

#search-bar{
  border: 0px;
  position: relative;
  top: 175px;
  left: 445px;
  height: 25px;
  width: 550px;
  padding: 10px;
  box-shadow: 0 1px 3px 0px rgba(0,0,0,0.3);
  transition: 0.1s;
}

#search-bar:hover {
  box-shadow: 0 2px 4px 0px rgba(0,0,0,0.3);

}

input:focus {
    outline:none;
}
